 /* page1 */
 /* 右 */
 .mainDiv_page1 #page1_right {
     display: flex;
     flex-direction: column;
     padding-left: 2%;
     padding-top: 5%;
     flex: 1;
 }

 .mainDiv_page1 #page1_right img {
     width: 25%;
     height: 20%;
 }

 .mainDiv_page1 #page1_right span {
     color: white;
     margin-top: 1%;
     margin-bottom: 2%;
 }

 .mainDiv_page1 #page1_right #page1_jieshao {
     color: white;
     width: 80%;
     height: 60%;
     overflow: auto;
 }

 /*滚动条样式*/
 #page1_jieshao::-webkit-scrollbar {
     width: 4px;
     /*height: 4px;*/
 }

 #page1_jieshao::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
     background: rgb(243, 51, 49);
 }

 #page1_jieshao::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 5px rgba(235, 232, 232, 0.2);
     border-radius: 0;
     background: rgba(255, 255, 255, 0.1);
 }

 .mainDiv_page1 #page1_right #page1_images {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 10%;
     overflow: auto;
 }

 .mainDiv_page1 #page1_right #page1_images img {
     margin-right: 1%;
     height: 100%;
     width: 15%;
     border-radius: 20px;
 }

 /* 左 */
 .mainDiv_page1 #page1_lift {
     flex: 1;
     display: flex;
 }

 .mainDiv_page1 #page1_lift img {
     width: 40%;
     height: 50%;
     margin: auto;
     border-radius: 20px;
     transition: 1s;
     transform: rotateY(30deg)
 }

 .mainDiv_page1 #page1_lift #imgBg {
     width: 19%;
     height: 52%;
     border: 5px black solid;
     position: absolute;
     margin-top: 11.5%;
     margin-left: 18%;
 }

 .mainDiv_page1 #page1_lift img:hover {
     transition: 1s;
     cursor: pointer;
     transform: rotateY(0deg)
 }

 .mainDiv_page1 #page1_lift #page1_liftText {
     color: white;
     position: absolute;
     margin-top: 25%;
     margin-left: 13%;
 }